<!DOCTYPE html>
<html>
{% block body %}
<head>
	<title> Admin Response from {{user}} </title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
			$(function() {
			  $('a#process_input').bind('click', function() {
			  		$.getJSON('/admin_lookup', {
					  username: $(document.getElementById('username')).val(),
					}, function(data) {
						document.getElementById('output').innerHTML = "";
						if (data.res != "" )
						{
							for (i = 0; i < data.res.length; i++) {
								$('#output').append(data.res[i] + '\n');
							}
						}else{alert('No message found');}
					});
					return false;
			  });
			});

			$(function() {
			  $('a#process_response').bind('click', function() {
				if (document.getElementById('myresponse').value!= ""){
					$.getJSON('/admin_response', {
					  username: $(document.getElementById('username')).val(),
					  myresponse: $('textarea[name="myresponse"]').val(),
					}, function(data) {
						var totalmsg = 'Admin: ' + $('#myresponse').val();
						$('#output').append(totalmsg + '\n');
						document.getElementById('myresponse').value = data.result;
					});
					return false;
				}else{ alert('Please enter your response'); return false;}
				});
			});

			$(function() {
			  $('a#process_del').bind('click', function() {
				if (document.getElementById('output').value!= ""){
					if (confirm('Are you sure you want to delete these messages?!')) {
						$.getJSON('/del_msg', {
						  username: $(document.getElementById('username')).val(),
						}, function(data) {
							document.getElementById('output').value = data.result;
						});
						return false;
					}return false;
				}else{ alert('Please select sender to delete messages'); return false;}
				});
			});

			function getUser(){document.getElementById('username').value = document.getElementById("sendername").value;}
			function clearInput(elementID){elementID.select(); document.getElementById(elementID).innerHTML = ""; return false;}

	</script>

</head>

<body>
	<div class="outer">
		<div class="site">
			<h2 class="page-title">
				<div class="green">Admin Response</div>
			</h2>
			<header class="masthead">
				<div class="red"><h3></h3></div>
			</header>	
			<main class="main-content">
				<div class="blue">
					<form name="queryform" class="message-form">
						<p>Please select your sender to load message(s):</p>
						<select onchange="getUser()" name=sendername id="sendername" multiple class="allsenders">
							{% for r in results %}
							<option value={{r[0]}}>{{r[0]}}&#13;&#10;</option>
							{% endfor %}
						</select>
						<div class="btns">
							<a href=# id="process_input"><button class="btn-msgSubmit" >Load</button></a>
						</div>
					</form>
						<hr>
						<div class="label-view"><p>Previous Messages:</p></div>
						<div name="view-msg" class="view-msg">
							<input type="hidden" name="username" id="username">
							<textarea onclick="clearInput(output)" name="output" id="output" class="type-msg" cols="48.9" rows="6"></textarea>
						</div>
						<hr>
						<textarea onclick="clearInput(myresponse)" name="myresponse" id="myresponse" class="type-res" placeholder="[Your response]"  cols="48.9" rows="2"></textarea>
					<form name="responseform" class="message-form">
						<div class="btns">
							<a href=# id="process_response"><button class="btn-msgSubmit">Send</button></a>
							<button onclick="clearInput(textclear)" name="textclear" id="textclear" class="btn-msgClear">Clear</button>
							<a href=# id="process_del"><button name="del" id="del" class="btn-del">Delete</button></a>
						</div><hr><hr>
					</form>
				</div>
			</main>	
			<aside class="sidebar">
				<div class="purple">
					<a href="home"><button>Home</button></a>
					<a href="profile"><button>Profile</button></a>
					<a href="projects"><button>Projects</button></a>
					<a href="/"><button>Log out</button></a>
				</div>
			</aside>	
			<footer class="footer">
				<div class="yellow">
				<p>Copyright &copy; letmetry000webhost.com</p>
				</div>
			</footer>	
		</div>
	</div>

</body>
{% endblock %}
</html>